@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600');
@import url('https://fonts.googleapis.com/css?family=Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/* CSS PERSO */

body {margin: 0 auto;padding: 0;background-color: #f8f8f8;width: 100%;}
body {font-family: 'Overpass', sans-serif;}

header {margin-top: 1em;}
footer {border-top: 1px solid blue;padding-top: 20px;background-color: rgba(240,208,9,0.95);padding-bottom: 45px;margin-bottom: 0;bottom: 0;clear: both;margin-top: 50px;}
article, section {margin-bottom: 2em;}
article, section {padding-bottom: 1.5em;}

.container .jumbotron {padding: 0 0 15px;margin-bottom: 20px;color: inherit;background-color: transparent;margin-top: 0;}
.jumbotron p a {color: blue; border-bottom: 2px solid blue;}
.jumbotron p a:visited {color: blue; border-bottom: 2px solid blue;}
.jumbotron p a:hover {color: black; border-bottom: 2px solid black;}

.input-group.date {width: 50%; color: #000;}

.glyphicon {position: relative;top:0; display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: normal;line-height: 1;margin-right: 0;}
.glyphicon-th {color: #FFF;}

.debut {padding-left: 0;margin-bottom: 1.5em;}
.fin {padding-right: 0;margin-bottom: 1.5em;}

.liste-adherents {border-bottom: 3px solid blue;padding-bottom: 20px;}
.liste-adherents ul {list-style: none;padding-left: 0;margin-left: 0;}
.liste-adherents ul li {list-style: none;}
.liste-adherents h2 {font-weight: 400;font-size: 1.5em;border-top: 3px solid blue;padding-top: 20px;}
.liste-adherents h3 {font-weight: 700;font-size: 1.1em;}
.liste-resa {}

/* TABLES */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  line-height: 2em;
  vertical-align: top;
  border: 1px solid blue;text-align: center;margin: 2em auto;
  padding: 0;}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {border-bottom-width: 1px;background-color: #d9edf7;}

.mois {background-color: #d9edf7;vertical-align: middle;padding-top: 10px;padding-bottom: 10px;line-height: 2.5em;text-transform: uppercase;font-size: 110%;}
.day_week {vertical-align: middle;line-height: 3em;background-color: #e5f6f3;}
.day {vertical-align: middle;line-height: 3em;background-color: white;}
.dayday, .other-month {min-height: 120px;vertical-align: top;padding-right: 5px;text-align: right;}
td.day_on {background-color: yellow;}
.highlight {font-weight: 700;vertical-align: top;text-align: right;margin-left: auto;padding-right: 5px;}
.rezzza {clear: both;font-weight: 300;border-radius: 3px;width: 90%;vertical-align: top;text-align: center;margin-left: auto;margin-right: auto;font-size: 80%;}

/* CALENDAR MACHINE */
.info_default {padding-left: 3px;padding-right: 3px;}
/*.CNC {background-color: #fefc78;border-radius: 3px;padding-right: 3px;padding-left: 3px;}
.Laser {background-color: #ff2f92;border-radius: 3px;padding-right: 3px;padding-left: 3px;color: white;}*/
.CNC, .Laser, .Ultimaker, .RISO {clear: left;margin-bottom: 5px;border-radius: 3px;letter-spacing: -0.25px;line-height: 1.2em;padding-top: 2px;padding-bottom: 2px;}
.CNC {background-color: #0432ff;color: white;}
.Laser {background-color: #ff2600;color: white;}
.Ultimaker {background-color: #00f900;}
.RISO {background-color: #72fcd5;}


/* NAV */
th span.glyphicon {position: relative;
top: 0;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: normal;line-height: 3;font-size: 1.35em;margin-right: 0;margin-top: 0;}

/* ERROR*/
.danger{background-color: red;}
span.obligatoire {color: red;font-weight: 200;}
